policy_module(lekcoin, 1.100.1)

########################################
#
# Declarations
#

type lekcoin_t;
type lekcoin_exec_t;
init_daemon_domain(lekcoin_t, lekcoin_exec_t)

permissive lekcoin_t;

type lekcoin_initrc_exec_t;
init_script_file(lekcoin_initrc_exec_t)

type lekcoin_conf_t;
files_type(lekcoin_conf_t)

type lekcoin_var_lib_t;
files_type(lekcoin_var_lib_t)

type lekcoin_var_run_t;
files_type(lekcoin_var_run_t)

type lekcoin_port_t;
corenet_port(lekcoin_port_t)

########################################
#
# lekcoin local policy
#
allow lekcoin_t self:process { fork };

allow lekcoin_t self:fifo_file rw_fifo_file_perms;
allow lekcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(lekcoin_t, lekcoin_conf_t, lekcoin_conf_t)
manage_files_pattern(lekcoin_t, lekcoin_conf_t, lekcoin_conf_t)

manage_dirs_pattern(lekcoin_t, lekcoin_var_lib_t, lekcoin_var_lib_t)
manage_files_pattern(lekcoin_t, lekcoin_var_lib_t, lekcoin_var_lib_t)
files_var_lib_filetrans(lekcoin_t, lekcoin_var_lib_t, { dir file })

manage_dirs_pattern(lekcoin_t, lekcoin_var_run_t, lekcoin_var_run_t)
manage_files_pattern(lekcoin_t, lekcoin_var_run_t, lekcoin_var_run_t)

sysnet_dns_name_resolve(lekcoin_t)
corenet_all_recvfrom_unlabeled(lekcoin_t)

allow lekcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(lekcoin_t)
corenet_tcp_sendrecv_generic_node(lekcoin_t)
corenet_tcp_sendrecv_all_ports(lekcoin_t)
corenet_tcp_bind_generic_node(lekcoin_t)

gen_require(`
    type lekcoin_port_t;
')
allow lekcoin_t lekcoin_port_t:tcp_socket name_bind;

gen_require(`
    type lekcoin_port_t;
')
allow lekcoin_t lekcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(lekcoin_t)

files_read_etc_files(lekcoin_t)

miscfiles_read_localization(lekcoin_t)

sysnet_dns_name_resolve(lekcoin_t)

allow lekcoin_t lekcoin_exec_t:file execute_no_trans;
allow lekcoin_t self:process setsched;
corecmd_exec_ls(lekcoin_t)
corenet_tcp_connect_http_port(lekcoin_t)
dev_read_urand(lekcoin_t)
fs_getattr_xattr_fs(lekcoin_t)
kernel_read_system_state(lekcoin_t)
