[Unit]
Description=LekCoin's distributed currency daemon
After=network.target

[Service]
User=lekcoin
Group=lekcoin

Type=forking
PIDFile=/var/lib/lekcoind/lekcoind.pid
ExecStart=/usr/bin/lekcoind -daemon -pid=/var/lib/lekcoind/lekcoind.pid \
-conf=/etc/lekcoin/lekcoin.conf -datadir=/var/lib/lekcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
